@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
}
.sidebar{
    /* background-color: blue;  */
    position: absolute;
    font-family: 'Fira Sans', sans-serif;
    height: 100vh;
    background-color: rgba(176, 176, 206, 0.582);
    transition: transform 0.3s ease-in;
}
.sidebar nav{
    padding: 45px;
}
.sidebar nav li{
    list-style: none;
    font-size: 30px;
    padding: 33px 0;
}
.sidebar nav li a{
    text-decoration: none;
    color: black;
}

.main{
    /*background-color: yellow; */
    width: 90vw;
}
.container{
    display: flex;
}
.infocontainer{
    /*background-color: red; */
    height: 45vh;
    width: 80vw;
    margin: 144px auto;
    display: flex;
    justify-content: space-around;
}
.devInfo{
    font-size: 16px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: 'Source Code Pro', monospace;
    }
.hello{
    font-size: 3em;
}
.name{
    font-size: 3em;
    font-weight: bold;
    font-family: 'Fira Sans', sans-serif;

}
.about{
    font-size: 2.5em;
}
.buttons  {  
    margin-top: 34px;
font-size: 16px;

}
.btn{
  padding: 4px 10px;
  border-radius: 5px;
  color: white;
  background-color: lightskyblue;
  font-weight: bold;
  font-size: 2em;
  margin: 3px 3px;
  cursor: pointer;
}
.btn:hover{
    color: dodgerblue;
    background-color: white;
}
.btn-sm{
    font-size: 10px;
    width: 7vw;
    padding: 7px 13px;
    margin: 10px 0;

}

.devPic img{
  width: 170px;
  height: 45vh;
}
.moreabout{
    font-size: 2em;
    font-family: 'Fira Sans' , sans-serif;
    margin-top: 23px;
}
.contactform{
    padding-top: 144px;
    font-family: 'Fira Sans', sans-serif;
    margin: 0 88px;
}
.contactform h1{
    font-family: 'Source Code Pro', monospace;
    margin: 0 88px;

}
.contactform form div{
    padding: 9px 0;
    display: flex;
    flex-direction: column;
    margin: 0 88px;

}
.contactform form div input{
    width: 26vw;
    border-radius: 5px;
    margin: 6px 0 0 0;
    padding: 3px;

}
.contactform form{
    margin: 0 40px;
}

#emailHelp{
    font-size: 11px;
    color: midnightblue;
    margin: 0 5px;
    padding: 3px 0 0 0;
}
#form-check {
  flex-direction: row;
}
#form-check input{
  width: 24px;
  margin: 3px 0;
}
.blogItem{
    margin: 20px;   
     font-family: 'Fira Sans', sans-serif;
}
.blogContainer{
    margin: 88 88px;

}
h2{
    font-family: 'Fira Sans', sans-serif;
    margin: 23px;
}
p{
    font-family: 'Source Code Pro', monospace;

}
.intro{
    margin: 88 88px;

}
.intro h2{
    font-family: 'Fira Sans', sans-serif;
    margin: 12px;
}
.intro p{
    font-family: 'Source Code Pro', monospace;
    margin: 12px;
}
.skilcontainer{
    padding: 12px;
}
.skillItem{
    display: flex;
    align-items: center;
    font-family: 'Source Code Pro', monospace;
    font-weight: 900;
}
.skill{
    width: 265px;
    height: 6px;
    background-color: blue;
    border: 2px solid black;
}
.hundred{
    width: 265px;
background-color: aqua;}
.fifty{
    width: 125px;
    background-color: olive;
}
.t5{
    width: 75px;
    background-color: blueviolet;
}
.sidebarGO{
    transform: translate(-443px, 0px);
    position: absolute;
}
.hamburger{
position: absolute;
cursor: pointer;
top: 5px;
left: 10px;

}
.ham{
    margin-top: 10px;
}
.cross{
    margin-left: 180px;
    margin-top: 10px;
}
@media (max-width: 1250px){
    *{
        /*background-color: antiquewhite;*/
    }
    .buttons{
        font-size: 10px;
    }
    .devInfo{    
        font-size: 10px;


    }
    .devPic{
       /* display: none;*/
    }
    .intro,.blogContainer, .container{
        margin: 8px;
    }
}
   


 

